@import '../../../styles/settings.scss';

.wrapper {
  background-color: $color-background-lighter;
  padding: 100px 0;

  .categories {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .galleryOne,
    .galleryTwo,
    .galleryThree,
    .galleryFour,
    .galleryFive {
      flex: 0 0 calc(33.33% - 40px);
      position: relative;
      cursor: pointer;
      transition: $transition;
      margin: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        transition: transform $transitionLong;
        z-index: 0;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-text;
        font-family: $font-header;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: $transitionLong;
      }

      &:hover {
        transition: $transitionLong;
        transform: scale(1.1);
        z-index: 2;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-background-dark;
          opacity: 0.5;
          transition: $transitionLong;
        }

        .text {
          opacity: 1;
          z-index: 2;
          transition-delay: 0s;
        }
      }
    }
  }
}
