@import '../../../../styles/settings.scss';

.newBorn {
  background-image: url('../../../../../public/images/heroSection/newBorn.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 850px;

  &::after {
    content: 'Sesja noworodkowa';
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-header;
    font-size: ($hero-size * 1.5);
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $color-text;
    text-align: center;
    opacity: 0.8;
  }

  .textBox {
    display: none;
  }
}

.wrapper {
  background-color: $color-background-dark;

  .container {
    padding-top: 50px;

    .heroSection {
      background-image: url('../../../../../public/images/heroSection/hero.jpg');
      height: 850px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      padding: 0 !important;
      border: 10px solid $color-background-dark;

      .firstColumn {
        flex: 1;
        border-right: 10px solid $color-background-dark;
        display: flex;
        flex-direction: column;

        .emptyBox {
          flex: 2;
          border-bottom: 10px solid $color-background-dark;
        }

        .emptyBox2 {
          flex: 5;
          border-bottom: 10px solid $color-background-dark;
        }

        .textBox {
          flex: 1;
          opacity: 0;
          transition: $transitionLong;
          transition-delay: 1.5s;
        }

        .fadeIn {
          opacity: 1;
          background-color: $color-background-dark;
          display: flex;
          align-items: center;
          justify-content: center;

          .title {
            font-family: $font-header;
            font-size: $hero-size;
            text-transform: uppercase;
            line-height: normal;
            color: $color-text;
          }
        }
      }

      .secondColumn {
        flex: 1;
        display: flex;
        flex-direction: column;

        .emptyBox {
          flex: 1;

          &:first-child {
            border-bottom: 10px solid $color-background-dark;
          }
        }
      }

      .thirdColumn {
        flex: 1;
        border-left: 10px solid $color-background-dark;
        display: flex;
        flex-direction: column;

        .textBox {
          flex: 2;
          opacity: 0;
          transition: $transitionLong;
        }

        .fadeIn {
          opacity: 1;
          background-color: $color-background-dark;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          .title {
            font-family: $font-header;
            font-size: $hero-size;
            text-transform: uppercase;
            line-height: 40px;
            color: $color-text;
            text-align: right;
          }
        }

        .emptyBox {
          flex: 4;
          border-bottom: 10px solid $color-background-dark;
          border-top: 10px solid $color-background-dark;
        }

        .emptyBox2 {
          flex: 2;
        }
      }
    }
  }
}
