@import '../../../../styles/settings.scss';

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  color: $color-text-dark;
  font-size: ($base-size * 1.1);

  .inputBox {
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
  }
}
