@import '../../../styles/settings.scss';

.section {
  background-color: $color-background-grey;
  padding: 100px 0;

  .wrapper {
    display: flex;
    justify-content: center;

    .images {
      flex: 0 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }

    .info {
      flex: 0 50%;
      padding: 20px;

      p {
        font-size: $base-size;
        font-family: $font-text;
        color: $color-text-dark;
        margin-bottom: 20px;
      }
    }
  }
}
